{% extends 'notes/base.html' %}
{% block content %}
    <div class="ui text container">
        <h1 class="ui inverted header">
            {{ object.title }}
        </h1>
        <h2>{{ object.content }}</h2>
        <div>Created by: {{ object.created_by }} on {{ object.modify_date | date }}</div>
        <br/><br/><br/><br/>
        <div class="ui icon buttons tiny">
            <a href="{% url 'list_notes' %}" class="ui button">
                Back
                <i class="arrow left icon"></i>
            </a>
            <a href="{% url 'update_note' object.pk %}" class="ui button teal">
                Update
                <i class="pencil icon"></i>
            </a>
            <a href="{% url 'delete_note' object.pk %}" class="ui button red" data-toggle="modal">
                Delete
                <i class="trash icon"></i>
            </a>
        </div>
    </div>
{% endblock %}