{% extends 'notes/base.html' %}
{% block content %}
    <br/><br/><br/><br/>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal header">
                <div class="content">
                    Create note
                </div>
            </h2>
            <form class="ui form container" method="post">
                {% csrf_token %}
                <div class="ui  stacked ">
                    <div class="field">
                        <label><h3>Title</h3></label>
                        {{ form.title }}
                    </div>
                    <div class="field">
                        <label><h3>Content</h3></label>
                        {{ form.content }}
                    </div>
                    {#  <div class="field">#}
                    {#    <div class="ui checkbox">#}
                    {#      <input type="checkbox" tabindex="0" class="hidden">#}
                    {#      <label>I agree to the Terms and Conditions</label>#}
                    {#    </div>#}
                    {#  </div>#}
                    <div class="ui buttons">
                        <a href="{% url 'list_notes' %}" class="ui button">Cancel</a>
                        <div class="or"></div>
                        <button type="submit" class="ui primary button">Publish</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}