{% extends 'notes/base.html' %}

{% block content %}
    <div class="ui text container">
        <h1 class="ui inverted header">
            {{ note.title }}
        </h1>
        <h2>{{ note.content }}</h2>
        <div>by {{ note.created_by }} | {{ note.modify_date | date }}</div>
        <br/><br/><br/><br/>
        <div class="ui icon buttons tiny">
            <a href="{% url 'create_note' %}" class="ui button teal">
                Create note
                <i class="add icon"></i>
            </a>
            <button class="ui button red">
                Like
                <i class="like icon"></i>
            </button>
            <button class="ui button">
                Randomize
                <i class="shuffle icon"></i>
            </button>
        </div>
    </div>
{% endblock content %}