{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
    <h4 class="ui teal header">
        <div class="content">
            We have sent you instructions by email to set your password, if you have an account with the email you entered.
            You should see them soon.
        </div>
        <h5 class="content">If you do not receive an email, make sure you have entered the address with which you registered, and check your spam folder.</h5>
    </h4>
        <a href="{% url 'login' %}" class="ui fluid large teal submit button">Login</a>

{% endblock %}