{#{% extends 'registration/base.html' %}#}
{#{% load tags %}#}
{% block conteudo %}
<h3 class="login-heading mb-4">Recuperação de senha</h3>
<form action="." method="post">
    {% csrf_token %}
    <div class="form-label-group">
        {{ form.email | addclass:'form-control'  }}
        <label for="inputEmail">Digite o email que foi usado no cadastro</label>
    </div>
    <button class="btn btn-lg btn-secondary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Enviar</button>
    <div class="text-center">
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>{{ form.non_field_errors }}</strong>
            </div>
        {% endif %}
    </div>
</form>
{% endblock %}