{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
    {% if validlink %}
    <h2 class="ui teal header">
        <div class="content">
            Change password
        </div>
    </h2>
    <form class="ui large form" method="post">
        {% csrf_token %}
        <div class="ui stacked segment">
            <div class="field">
                <label>New password</label>
                <div class="ui left input">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="field">
                <label>Confirm your new password</label>
                <div class="ui left input">
                    {{ form.new_password2 }}
                </div>
            </div>
            <button type="submit" class="ui fluid large teal submit button">Save</button>
        </div>
    </form>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="ui error message">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="ui error message">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% else %}
    <p class="ui error message">
      The password reset link was invalid, possibly because it was already used.
        <a href="{% url 'password_reset' %}">Request a new password reset.</a>
    </p>
  {% endif %}
{% endblock %}